/* Background and Titlebar colors */
.background { color: #616161; background-color: #ffffff; }
.background:backdrop { color: #929595; background-color: #fcfcfc; text-shadow: none; -gtk-icon-shadow: none; }

/* These wildcard seems unavoidable, need to investigate. Wildcards are bad and troublesome, use them with care, or better, just don't. Everytime a wildcard is used a kitten dies, painfully. */
*:disabled { -gtk-icon-effect: dim; }

.gtkstyle-fallback { color: #2e3436; background-color: #f6f5f4; }

.gtkstyle-fallback:hover { color: #2e3436; background-color: white; }

.gtkstyle-fallback:active { color: #2e3436; background-color: #dfdcd8; }

.gtkstyle-fallback:disabled { color: #dddddd; background-color: #faf9f8; }

.gtkstyle-fallback:selected { color: #ffffff; background-color: #3584e4; }

.view, iconview, .view text, iconview text, textview text { color: #666666; background-color: #ffffff; }

.view:backdrop, iconview:backdrop, .view text:backdrop, iconview text:backdrop, textview text:backdrop { color: #929595; background-color: #fcfcfc; }

.view:backdrop:disabled, iconview:backdrop:disabled, .view text:backdrop:disabled, iconview text:backdrop:disabled, textview text:backdrop:disabled { color: #d4cfca; }

.view:disabled, iconview:disabled, .view text:disabled, iconview text:disabled, textview text:disabled { color: #929595; background-color: #faf9f8; }

.view:selected:focus, iconview:selected:focus, .view:selected, iconview:selected, .view text:selected:focus, iconview text:selected:focus, textview text:selected:focus, .view text:selected, iconview text:selected, textview text:selected { border-radius: 3px; }

textview border { background-color: #dddddd; }

.rubberband, rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .content-view .rubberband { border: 1px solid #1b6acb; background-color: rgba(27, 106, 203, 0.2); }

flowbox flowboxchild { padding: 3px; }

flowbox flowboxchild:selected { outline-offset: -2px; }

.content-view .tile { margin: 2px; background-color: transparent; border-radius: 0; padding: 0; }

.content-view .tile:backdrop { background-color: transparent; }

.content-view .tile:active, .content-view .tile:selected { background-color: transparent; }

.content-view .tile:disabled { background-color: transparent; }

label { caret-color: currentColor; }

label.separator { color: #2e3436; }

label.separator:backdrop { color: #929595; }

label selection { background-color: #3584e4; color: #ffffff; }

label:disabled { color: #dddddd; }

label:disabled:backdrop { color: #d4cfca; }

label:backdrop { color: #929595; }

.dim-label, label.separator, .titlebar:not(headerbar) .subtitle, headerbar .subtitle { opacity: 0.55; text-shadow: none; }

assistant .sidebar { background-color: #ffffff; border-top: 1px solid #cdc7c2; }

assistant .sidebar:backdrop { background-color: #fcfcfc; border-color: #d5d0cc; }

assistant.csd .sidebar { border-top-style: none; }

assistant .sidebar label { padding: 6px 12px; }

assistant .sidebar label.highlight { background-color: #cecece; }

.csd popover.background.touch-selection, .csd popover.background.magnifier, popover.background.touch-selection, popover.background.magnifier, .csd popover.background.osd, popover.background.osd, .app-notification, .app-notification.frame, .osd .scale-popup, .osd { color: #eeeeec; border: none; background-color: rgba(36, 33, 42, 0.7); background-clip: padding-box; text-shadow: 0 1px black; -gtk-icon-shadow: 0 1px black; }

popover.background.touch-selection:backdrop, popover.background.magnifier:backdrop, popover.background.osd:backdrop, .app-notification:backdrop, .osd .scale-popup:backdrop, .osd:backdrop { text-shadow: none; -gtk-icon-shadow: none; }
