.content-view { background-color: #e6e3e0; }

.content-view:hover { -gtk-icon-effect: highlight; }

.content-view:backdrop { background-color: #e6e3e0; }

.osd .scale-popup button.flat { border-style: none; border-radius: 5px; }

.scale-popup button:hover { background-color: rgba(46, 52, 54, 0.1); border-radius: 5px; }
