treeview.view { border-left-color: #979a9b; border-top-color: #f6f5f4; }

* { -GtkTreeView-horizontal-separator: 4; -GtkTreeView-grid-line-width: 1; -GtkTreeView-grid-line-pattern: ''; -GtkTreeView-tree-line-width: 1; -GtkTreeView-tree-line-pattern: ''; -GtkTreeView-expander-size: 16; }

treeview.view:selected:focus, treeview.view:selected { border-radius: 0; }

treeview.view:selected:backdrop, treeview.view:selected { border-left-color: #9ac2f2; border-top-color: rgba(46, 52, 54, 0.1); }

treeview.view:disabled { color: #929595; }

treeview.view:disabled:selected { color: #86b5ef; }

treeview.view:disabled:selected:backdrop { color: #71a8eb; }

treeview.view:disabled:backdrop { color: #d4cfca; }

treeview.view.separator { min-height: 2px; color: #f6f5f4; }

treeview.view.separator:backdrop { color: rgba(246, 245, 244, 0.1); }

treeview.view:backdrop { border-left-color: #c4c5c5; border-top: #f6f5f4; }

treeview.view:drop(active) { border-style: solid none; border-width: 1px; border-color: #185fb4; }

treeview.view:drop(active).after { border-top-style: none; }

treeview.view:drop(active).before { border-bottom-style: none; }

treeview.view.expander { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); color: #4d4d4d; }

treeview.view.expander:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

treeview.view.expander:hover { color: black; }

treeview.view.expander:selected { color: #c2daf7; }

treeview.view.expander:selected:hover { color: #ffffff; }

treeview.view.expander:selected:backdrop { color: #c1d8f5; }

treeview.view.expander:checked { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

treeview.view.expander:backdrop { color: #b2b4b4; }

treeview.view.progressbar { color: #ffffff; border: 1px solid #185fb4; border-radius: 4px; background-color: #3584e4; background-image: linear-gradient(to bottom, #3584e4, #1b6acb); box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px rgba(0, 0, 0, 0.2); }

treeview.view.progressbar:selected:focus, treeview.view.progressbar:selected { border-radius: 4px; color: #3584e4; box-shadow: none; background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); }

treeview.view.progressbar:selected:focus:backdrop, treeview.view.progressbar:selected:backdrop { color: #3584e4; border-color: #185fb4; background-color: #fcfcfc; }

treeview.view.progressbar:backdrop { color: #fcfcfc; background-image: none; box-shadow: none; }

treeview.view.trough { background-color: rgba(46, 52, 54, 0.1); border-radius: 4px; }

treeview.view.trough:selected:focus, treeview.view.trough:selected { background-color: rgba(255, 255, 255, 0.3); border-radius: 4px; border-width: 1px 0; border-style: solid; border-color: #3584e4; }

treeview.view header button { color: #979a9b; background-color: #ffffff; font-weight: bold; text-shadow: none; box-shadow: none; }

treeview.view header button:hover { color: #636769; box-shadow: none; transition: none; }

treeview.view header button:active { color: #2e3436; transition: none; }

treeview.view button.dnd:active, treeview.view button.dnd:selected, treeview.view button.dnd:hover, treeview.view button.dnd, treeview.view header.button.dnd:active, treeview.view header.button.dnd:selected, treeview.view header.button.dnd:hover, treeview.view header.button.dnd { padding: 0 6px; color: #ffffff; background-image: none; background-color: #3584e4; border-style: none; border-radius: 0; box-shadow: inset 0 0 0 1px #ffffff; text-shadow: none; transition: none; }

treeview.view acceleditor > label { background-color: #3584e4; }

treeview.view header button, treeview.view header button:hover, treeview.view header button:active { padding: 0 6px; background-image: none; border-style: none solid solid none; border-color: #f6f5f4; border-radius: 0; text-shadow: none; }

treeview.view header button:disabled { border-color: #f6f5f4; background-image: none; }

treeview.view header button:backdrop { color: #c4c5c5; border-color: #f6f5f4; border-style: none solid solid none; background-image: none; background-color: #fcfcfc; }

treeview.view header button:backdrop:disabled { border-color: #f6f5f4; background-image: none; }

treeview.view header button:last-child:backdrop, treeview.view header button:last-child { border-right-style: none; }
