* { padding: 0; -GtkToolButton-icon-spacing: 4; -GtkTextView-error-underline-color: #cc0000; -GtkScrolledWindow-scrollbar-spacing: 0; -GtkToolItemGroup-expander-size: 11; -GtkWidget-text-handle-width: 20; -GtkWidget-text-handle-height: 24; -GtkDialog-button-spacing: 4; -GtkDialog-action-area-border: 0; outline-color: alpha(currentColor,0.1); outline-style: none; outline-offset: -3px; outline-width: 1px; -gtk-outline-radius: 2px; -gtk-secondary-caret-color: #3584e4; }

/*	Base
*/

@import url("elements/base.css");

/*	Spinner Animation
*/

@import url("elements/spinner.css");

/*	Text Entries
*/

@import url("elements/text-entries.css");

/*	Buttons
*/

@import url("elements/buttons.css");

/*	Menu Buttons
*/

@import url("elements/menu-buttons.css");

/*	List Buttons
*/

@import url("elements/list-buttons.css");

/*	Links
*/

@import url("elements/links.css");

/*	GtkSpinButton
*/

@import url("elements/gtkspinbutton.css");

/*	ComboBoxes
*/

@import url("elements/comboboxes.css");

/*	Toolbars
*/

@import url("elements/toolbars.css");

/*	Header Bars
*/

@import url("elements/header-bars.css");

/*	Pathbars
*/

@import url("elements/pathbars.css");

/*	Tree Views
*/

@import url("elements/tree-views.css");

/*	Menus
*/

@import url("elements/menus.css");

/*	Popovers
*/

@import url("elements/popovers.css");

/*	Notebooks
*/

@import url("elements/notebooks.css");

/*	Scrollbars
*/

@import url("elements/scrollbars.css");

/*	Switch
*/

@import url("elements/switch.css");

/*	Check and Radio items
*/

@import url("elements/check-radio.css");

/*	GtkScale
*/

@import url("elements/gtkscale.css");

/*	Progress bars
*/

@import url("elements/progress-bars.css");

/*	Level Bar
*/

@import url("elements/level-bar.css");

/*	Print dialog
*/

@import url("elements/print-dialog.css");

/*	Frames
*/

@import url("elements/frames.css");

/*	Lists
*/

@import url("elements/lists.css");

/*	App Notifications
*/

@import url("elements/app-notifications.css");

/*	Expanders
*/

@import url("elements/expanders.css");

/*	Calendar
*/

@import url("elements/calendar.css");

/*	Dialogs
*/

@import url("elements/dialogs.css");

/*	Sidebar
*/

@import url("elements/sidebar.css");

/*	File chooser
*/

@import url("elements/file-chooser.css");

/*	Paned
*/

@import url("elements/paned.css");

/*	GtkInfoBar
*/

@import url("elements/gtkinfobar.css");

/*	Tooltips
*/

@import url("elements/tooltips.css");

/*	Color Chooser
*/

@import url("elements/color-chooser.css");

/*	Misc
*/

@import url("elements/misc.css");

/*	Window Decorations
*/

@import url("elements/window-decorations.css");

/*	Touch Copy & Paste
*/

@import url("elements/touch-copy-paste.css");

/*	App Icons
*/

@import url("elements/app-icons.css");

/*	Emoji
*/

@import url("elements/emoji.css");

/* GTK NAMED COLORS ---------------- use responsibly! */
/*
widget text/foreground color */
@define-color theme_fg_color #2e3436;
/*
text color for entries, views and content in general */
@define-color theme_text_color black;
/*
widget base background color */
@define-color theme_bg_color #f6f5f4;
/*
text widgets and the like base background color */
@define-color theme_base_color #ffffff;
/*
base background color of selections */
@define-color theme_selected_bg_color #3584e4;
/*
text/foreground color of selections */
@define-color theme_selected_fg_color #ffffff;
/*
base background color of insensitive widgets */
@define-color insensitive_bg_color #faf9f8;
/*
text foreground color of insensitive widgets */
@define-color insensitive_fg_color #929595;
/*
insensitive text widgets and the like base background color */
@define-color insensitive_base_color #ffffff;
/*
widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #929595;
/*
text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color black;
/*
widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #f6f5f4;
/*
text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #fcfcfc;
/*
base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #3584e4;
/*
text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #ffffff;
/*
insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color #d4cfca;
/*
widgets main borders color */
@define-color borders #cdc7c2;
/*
widgets main borders color on backdrop windows */
@define-color unfocused_borders #d5d0cc;
/*
these are pretty self explicative */
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #33d17a;
/*
these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title shade(#2e3436, 1.8);
@define-color wm_unfocused_title #929595;
@define-color wm_highlight rgba(255, 255, 255, 0.8);
@define-color wm_borders_edge rgba(255, 255, 255, 0.8);
@define-color wm_bg_a shade(#f6f5f4, 1.2);
@define-color wm_bg_b #f6f5f4;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(#f6f5f4, 1.3);
@define-color wm_button_hover_color_b #f6f5f4;
@define-color wm_button_active_color_a shade(#f6f5f4, 0.85);
@define-color wm_button_active_color_b shade(#f6f5f4, 0.89);
@define-color wm_button_active_color_c shade(#f6f5f4, 0.9);
@define-color content_view_bg #ffffff;
